@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  /*background: linear-gradient(
    92.23deg,
    #ff5757 21.43%,
    #ff5757 50.63%,
    #FFDE59 100%,
    #FFDE59 117.04%
  );*/
  background-color: #ff5757;
  box-shadow: 0px 4.42184px 107.23px rgba(255, 87, 87, 0.51);
}

.btn:hover {
  /*background: linear-gradient(
    92.23deg,
    #FFDE59 21.43%,
    #ff5757 50.63%,
    #ff5757 100%,
    #ff5757 117.04%
  );*/
  background-color: #dc4b4b;
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #ff5757 21.43%,
    #ff5757 50.63%,
    #FFDE59 100%,
    #FFDE59 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

.text-accent {
  color:#00C2CB
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-black;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text bg-[#FF5757] font-bold font-primary hover:bg-[#dc4b4b;];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
